{% extends "student_register/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Student Form{% endblock title %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="card shadow-sm">
                <div class="card-header bg-success text-white text-center">
                    <h5 class="mb-0">Student Registration</h5>
                </div>

                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}

                        {{ form|crispy }}

                        <div class="d-grid mt-3">
                            <button type="submit" class="btn btn-success">
                                Save Student <i class="fa-solid fa-database"></i>
                            </button>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>
</div>
{% endblock content %}
